### input and output methods  
- reading data or information from the user----***input()***  
    - static input  
    - dynamical input
- displaying information or data to the user---print()

In [1]:
a=integer()
a

NameError: name 'integer' is not defined

In [2]:
a=input()
a

valli

'valli'

In [3]:
a=input("enter user value")
a

enter user value612

'612'

In [4]:
a=input("enter user value")
a

enter user value5.7

'5.7'

In [5]:
a=float(input("enter user value"))
a

enter user value16.7

16.7

In [6]:
a=input("enter value")
print(a)

enter value468
468

In [7]:
a=50
b=60
c=40
print(a,b,c)

50 60 40

In [10]:
a=50
b=60
c=40
print(a,b,c,sep=";")

50;60;40

In [13]:
# generate the three values from the user that values separated with $ and end with %
a=input("enter 1st value")
b=input("enter 2nd value")
c=input("enter 3rd value")
print(a,b,c,sep="$",end="%")

enter 1st value70
enter 2nd value50
enter 3rd value30
70$50$30%

## operators
- arithamatic operator(+,-,*,**,//,/,%)
    - output for the normal division is quotient
    -output for the int division or floor divison is integer part of the quotient
    -output for the module division is reminder
- assignment operator(=)
- comparision operator(<,>,<=,>=,==)
- logicial operator(and,or,not)
- bitwise operator(&,|,^)
- identity opertors(is (==),isnot((=)
- membership operator(in,notin)

### arithmatic operators

In [14]:
a=50
b=20
print("addition",a+b)
print("substraction",a-b)
print("multiplication",a*b)
print("division",a/b)
print("power",a**b)
print("int division or floor divison",a//b)
print("modules divison",a%b)

addition 70
substraction 30
multiplication 1000
division 2.5
power 9536743164062500000000000000000000
int division or floor divison 2
modules divison 10

## assignment operators
- its represented with =
- left side value of the operator(=)is called as a variable
- right side value of the variable(=) is called as a value

In [15]:
a=20
b=10
print(a)
print(b)

20
10

## comparison operators

In [16]:
23>45

False

In [18]:
if 2>9 and 6<=9:
    print("print true or false")
else:
    print("not possible")

not possible

### logicial operators
- and,or,not
- if all the inputs are true the output is true(and)
- if any of the input is true the ouput is true(or)
- opposite operation for the given one(not)

In [20]:
2<5 and 7>6

True

In [22]:
3<2 or 8>6

True

In [24]:
a=24455
not a

False

## bitwase operators

In [26]:
3 & 5
# 3- 0 0 1 1
# 5- 0 1 0 1
#------------
#    0 0 0 1

1

## identity operators

In [27]:
a is 100 and a!=100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\efcodd\AppData\Local\Temp/ipykernel_3292/779779209.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a!=100

False

## membership operators

In [29]:
s=[2,3,4,6,7]
7 in s

True

In [31]:
5 not in s

True

In [32]:
1 in s

False

In [33]:
b=69
# b+=1 ------>b=b+1
# b-=1 ------>b=b-1
# b*=1 ------>b=b*1
# b/=1 ------>b=b/1

In [34]:
b

69

### flow controls
- conditional statements(if, ifelse,nestedif)
- loops (for,while)
- break,return

## conditional statements

In [ ]:
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
#if-else
if(condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    ----------
    statementn

In [38]:
if 2<3:
  print("True")
  print("False")

True
False

In [40]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even")
else:
    print("odd")

enter the number25
odd

In [42]:
# given number is zero or positive or negative
n=int(input("enter the number"))
if(n==0):
    print("zero")
elif(n>0):
    print("positive")
else:
    print("negative")

enter the number54
positive

In [47]:
# number is divisible by 2 but not 10
a=42
if a%2==0  and a%10!=0:
    print("valid number")
else:
    print("invalid number")

valid number

### range
- syntax for the range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(10,20,1)
# 10 11 12 13 14 15 16 17 18 19 
range(20,50,3)
# 20 22 24 26 28
range(50)
#consider start,end values
range(60,50,-3)
# for reverse

In [48]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [49]:
list(range(20,30,1))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [50]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

### loops
- for,while
- for loop::: is for loop inpython is a control flow statement that is used to repeatedly execute a group of statements as long as condition is satisifed such atype of statements is also known as itterative statements

In [ ]:
syntax::::
        for iter is iterable:#range pre-defined function in the postiion of iterable
        statement1
        statement2
        statementn

In [2]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(6):
    print(i,end=" ")

0 1 2 3 4 5

In [7]:
for i in range(6):
    print(i,end=",")

0,1,2,3,4,5,

In [9]:
# print the even number in the range of 0 to 100 and print the count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
    print("\n even number count:",b)

0
 even number count: 0
2
 even number count: 0
4
 even number count: 0
6
 even number count: 0
8
 even number count: 0
10
 even number count: 0
12
 even number count: 0
14
 even number count: 0
16
 even number count: 0
18
 even number count: 0
20
 even number count: 0
22
 even number count: 0
24
 even number count: 0
26
 even number count: 0
28
 even number count: 0
30
 even number count: 0
32
 even number count: 0
34
 even number count: 0
36
 even number count: 0
38
 even number count: 0
40
 even number count: 0
42
 even number count: 0
44
 even number count: 0
46
 even number count: 0
48
 even number count: 0
50
 even number count: 0
52
 even number count: 0
54
 even number count: 0
56
 even number count: 0
58
 even number count: 0
60
 even number count: 0
62
 even number count: 0
64
 even number count: 0
66
 even number count: 0
68
 even number count: 0
70
 even number count: 0
72
 even number count: 0
74
 even number count: 0
76
 even number count: 0
78
 even number count: 0
80
 even number count: 0
82
 even number count: 0
84
 even number count: 0
86
 even number count: 0
88
 even number count: 0
90
 even number count: 0
92
 even number count: 0
94
 even number count: 0
96
 even number count: 0
98
 even number count: 0
100
 even number count: 0

In [14]:
# print leap years from the range of2000 to 2050 print year count
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0) and (i%400!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
        print("\n years count",c)

2000
2020
2000
 years count 1
2004
 years count 2
2008
 years count 3
2012
 years count 4
2016
 years count 5
2020
 years count 6

In [18]:
# print 6 table
n=6
for i in range(1,11):
    print(n,"*","=",n*i)

6 * = 6
6 * = 12
6 * = 18
6 * = 24
6 * = 30
6 * = 36
6 * = 42
6 * = 48
6 * = 54
6 * = 60

In [26]:
# factorial of  5
n=int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=" ")

6
1 2 3 6

In [30]:
# I/p=aba
# 97+98+97=292
# o/p=292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

valli
536

In [38]:
# prime number
n=int(input())
for i in range(n,n+1):
    if(n%i==0):
        print("prime")
    else:
        print("not prime")

7
prime

In [48]:
# 0-10
# even 
#odd
n=int(input())
m=int(input())
print("even number are",end=" ")
for i in range(n,m+1):
    if(i%2==0):
        print(i,end=" ")
print("\nodd number are",end=" ")
for i in range(n,m+1):
    if(i%2!=0):
        print(i,end=" ")

0
10
even number are 0 2 4 6 8 10
odd number are 1 3 5 7 9